@import url("style.css");

/*
-------------------------- REGISTER ---------------------------
*/

.register-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: calc(var(--max-width) * 0.9);
    margin: 0 auto;
}

.register-container > .left-box > img
{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}


.register-container > .right-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 0.5em;
    width: 40%;
}

.register-container > .right-box > button
{
    margin-top: 2em;
}



/*
-------------------------- LOGIN ---------------------------
*/


.login_-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: calc(var(--max-width) * 0.9);
    margin: 0 auto;
}

.login_-container > .left-box > img
{
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}


.login_-container > .right-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 0.5em;
    width: 40%;
}

.login_-container > .right-box > button
{
    margin-top: 2em;
}
