
:root
{
    --background-color: #1652f0;
    --user-background-color: #fff;
    --green: #55C988;
}

body
{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    margin: 0 auto;

    overflow: hidden;
}

.pointer { cursor: pointer; }

/*
-------------------------------------------------------------
*/

#users
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2.5em;
    column-gap: 2em;
    width: 70vw;
    margin: 0 auto;
    margin-top: 2em;
}

.user
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--user-background-color);
    width: 10em;
    border-radius: 20px;
    box-shadow: 0 0 15px blue;
    transition: all 0.1s ease-in-out;
}

.user:hover
{
    transform: scale(1.1);
}

.user > img
{
    width: 5em;
    height: 5em;
    padding: 2em 1em 0 1em;
    shape-rendering: geometricPrecision;
}

.user > p
{
    color: lightgray;
    margin-bottom: 0;
}

.user > h3
{
    height: 2.5em;
    margin-top: 0.1em;
    text-align: center;
    font-size: 1.2em;
}

/*
-------------------------------------------------------------
*/

.navbar
{

}

.navbar-element
{

}